* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFC145;
  font-family: 'Amatic SC', cursive;
  font-size: 120%;
  background-color: #9AC2C9;
}

p.right {
  text-align: right;
}

div {
  padding: 10px;
}

a {
  color: #FFC145;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header {
  background: #8C3B3B;
  text-align: center;
  font-family: 'Barrio', cursive;
  font-size: 150%;
}
.content {
  padding: 10em;
}

.fixed-header {
  position: sticky;
  top: -1px;
  background: #8C3B3B;
  display: flex;
  justify-content: space-between;
  z-index: 5;
    border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  max-height: 3em;
  font-family: 'Barrio', cursive;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 40%;
  word-wrap: break-word;
  color: #FFFFFB;
  font-weight: bold;
}


.fixed-footer{
  position: fixed;
  bottom: 0px;
  background: #8C3B3B;
  width: 100%;
  border-top-right-radius: 50% 20%;
  border-top-left-radius: 50% 20%;
  font-family: 'Barrio', cursive;

 }
.links-left a{
  padding-right: 2em;
}

.links-center{
  text-align: center;
  background-color:#8C3B3B;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  height:4.5em;
}

.links-right a{
  padding-left: 2em;
}
.col:first-child { 
  margin-left: 0; 
}
.video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.vimeo {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: calc(100% - 55px);
}

[class*=".span_*"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.span_3 { width: 100%;   border: 10px;}
.span_2 { width: 66.13%; }
.span_1 { width: 32.26%; }