* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFC145;
  font-family: 'Abril Fatface', serif;
  background-color: #9AC2C9;
}

h1 {
  font-weight: normal;

}
p.right {
  text-align: right;
}

div {
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header {
  background: #8C3B3B;
  text-align: center;
  font-family: 'Barrio', sans-serif;
  font-size: 150%;
}
.logo {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  line-height: 50%;
  background-color: #FFC145;
  border-radius: 1em;
      text-shadow:
    -3px -3px 0 #8C3B3B,
    1px -1px 0 #8C3B3B,
    -1px 1px 0 #8C3B3B,
    1px 1px 0 #8C3B3B;
}
.stretch {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.stretch_it{
    white-space: nowrap;
}
.content {
  padding: 2em;
  color: black;
}

.fixed-header {
  position: sticky;
  top: -1px;
  background: #8C3B3B;
  display: flex;
  justify-content: space-between;
  z-index: 5;
    border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  max-height: 4.5em;
  font-family: 'Barrio', sans-serif;
  font-size: 120%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 40%;
  word-wrap: break-word;
  color: black;
}


.fixed-footer{
  position: fixed;
  bottom: 0px;
  background: #8C3B3B;
  width: 100%;
  border-top-right-radius: 50% 20%;
  border-top-left-radius: 50% 20%;
  font-family: 'Barrio', cursive;

 }

.header-link {
  display: inline-block;
  vertical-align: middle;
}

.links-left a{
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  word-wrap: break-word;
  color: #FFFFFB;
  padding-right: 2em;
  align-items: center;
  position: relative;
}

.links-center{
  text-align: center;
  font-weight: bolder;
  background-color:#8C3B3B;
  border-bottom-left-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
  height:6em;
}

.links-right a{
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-between;
  word-wrap: break-word;
  color: #FFFFFB;
  padding-right: 2em;
  align-items: center;
  position: relative;
}
.col:first-child { 
  margin-left: 0; 
}
.video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.vimeo {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: calc(100% - 55px);
}

/*
[class*=".span_*"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
*/
.span_half { width: 40%; 
  display: block;
  margin: 0 auto;
}
.span_3 { width: 100%;   border: 10px;}
.span_2 { width: 66.13%; }
.span_1 { width: 32.26%; }